#left{
    width:45%;
    height:auto;
    color:aqua;
    float:left;
    margin:0 auto;
    padding-left:20px;
}
#right{
    width:55%;
    height:auto;
    color:darkmagenta;
    float:left;
    margin:0 auto;
    padding-left:20px;
}