body {
}
#dsks{
    color: #147eb9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#drPhong{
    text-align:center;
    font-size:20px;
}
#formdatphong {
    margin-right: 30px;
    background-image: url('../Images/SLDB-Bg-Rooms-Suites-Premier-Room.jpg');
    background-size: auto;
    background-position: center;
}
.ctdp{
    color:blue;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
#ttdp{
    text-shadow:2px 2px 2px #ffffff;
    padding-left:50px;
    padding-top:20px;
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}