#left{
    float:left;
    width:25%;
    min-height:200px;
    text-align:left;
    margin:0 auto;
    padding:0;
}
#right{
    float:left;
    width:75%;
    min-height:200px;
}
#right1{
    width:75%;
    min-height:100px;
    text-align:center;
}
#right2{
    width:75%;
    min-height:100px;
    padding-left:25px;
}