* {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body {
    background:url("../Images/b_g.jpg") !important;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:50px;
}

/*#wc {
    color:#0094ff;
    background:#ffffff;
    min-height:70px;
    line-height:1.5;
    text-align:center;
    
    font-size:35px;
}
#menu{
    margin-left: 408px;
    width: 70%;
    min-height: 150px;   
}
#menu ul{
    margin-left: 251px;
    padding-top: 37px;

}
#menu ul li{
    line-height:60px;
    padding:0px 10px;
    color:#ff0000;
    float:left;
    list-style:none;
}
#menu ul li a{
    text-align:right;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
}
#logo{
    width:20%;
    min-height:150px;
    float:left;
}
#text{
    min-height: 150px;
    color:#f52584;
    float: left;
    font-family: 'Freestyle Script';
    font-size: 30px;
    width: 20%;
    line-height: 133px;
}*/

#header{
    
    /*max-width:100%;
    min-height:150px;
    margin:0 auto;*/
   
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 755px;
}







/*#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1;
}
a, a:visited, a:active{
    text-decoration:none;
}
.login
{
    border-radius: 11px;
    font-weight: bold;
    background-color: #85B561;
    height: auto;
    width: 450px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    z-index:2;
}
 
.login .login_title
{
    color:white;
    font-size:16px;
    padding:8px 0 5px 8px;
    text-align:left;
}
 
.login-content label {
    display: block;
    padding-bottom: 7px;
}
 
.login-content span {
    display: block;
}
.login-content
{
    padding-left:35px;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
    height:auto;
    padding-top:15px;
    overflow:hidden;
}
 
.img_close {
    margin-left: 332px;
    width: 25px;
}
.button{
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
     border: 1px solid #DCDCDC;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.login input
{
    border:1px solid #D5D5D5;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,.07) inset;
    color:black;
    font:12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height:28px;
    padding:0px 8px;
    word-spacing:0.1em;
    width:300px;
}
.submit-button{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}*/
#lienhe{
    background: #0094ff;
    color:white;
    min-height: 50px;
    padding-left: 980px;
}
#lienhe > ul > li {
    padding-right: 10px;
    list-style: none;
    float: left;
    line-height: 50px;
}
    #lienhe > ul > li > h2 {
        margin-top: 10px;
    }
#thongtin{
    clear:both;
}
#thongtin #anh1{
    margin-left: 90px;
    font-size:17px;
    list-style-image:url("../Images/myhouse.png")/*,url("../Images/phone.png"),url("../Images/mail.png")*/;   
}
#thongtin #anh2{
    margin-left: 90px;
    font-size:17px;
    list-style-image:url("../Images/phone.png")/*url("../Images/mail.png")*/;   
}
#thongtin #anh3{
    margin-left: 90px;
    font-size:17px;
    list-style-image:url("../Images/mail.png");   
}
#thongtin #anh4{
    
    margin-top:15px;
    list-style:none;
    margin-left: 90px;
    font-size:17px;
   
}
.content{
    margin-top:10px;
    width:100%;
    min-height:500px;
    background:#ccc;
}



/*Login*/

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*End login*/