* {
    margin: 0px;
    padding: 0px;
}

body {
    background:#eee;
}

#wapper {
    max-width:1170px;
    min-height:800px;
    /*background-color:#808080;*/
    background: linear-gradient(#000, #ff0000);
    color:#ffffff;
    margin:0pc auto;
}

#header{
    width:100%;
    min-height:250px;
}

#logo {
   width:20%;
   min-height:250px;
   background-color:aqua;
   float:left;
   text-align:center;
}

#banner {
    width:80%;
    min-height:250px;
    background-color:aquamarine;
    float:right;
    text-align:center;
    
}

#menu-bar {
   width:1170px;
   min-height:40px;
   background-color:blue;
   text-align:center;
   line-height:40px;
   font-family:cursive;
   
}

#main-content {
   width:100%;
   min-height:350px;

}

#left{
    width:20%;
    float:left;
    background-color:blueviolet;
    min-height:350px;
    text-align:center;
}

#content{
    text-align:center;
}

#footer {
    background:#2554ed;
    width:100%;
    min-height:100px;
    text-align:center;
}
#wc {
    line-height:60px;
    font-family:Arial, Helvetica,Tahoma, sans-serif;
    font-size:25px;
    text-align:center;
    color:#2554ed;
    background:#fff;
    width:1170px;
    min-height:60px;
    font-weight:bold;
}
