body {
}
#tieude{
    margin-top:5px;
    padding-top:5px;
    background:#ffffff;
    height:130px;
}
h1{
    font-size:40px;
    color:blue;
    text-align:center;
}
h2{
    font-size:30px;
    color:#808080;
    text-align:center;
}
